//faqs start

.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
  
    margin-bottom: 2rem;
    background-color: white;
    
  }
  .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY.styles_no-tabfocus__1HmyD {
    padding-left: 24px;
  }
  
  .faqs
  {
    // background-image: url(./Media/bg3.png);
    background-color: burlywood;
    padding-top: 60px;
  }
  //Faqs end